// Color variables (appears count calculates by raw css)
@color0: #242837; // Appears 13 times
@color1: #82aaff; // Appears 8 times
@color2: #89ddff; // Appears 5 times

*{
	font-family: 'Ubuntu Mono', monospace;
}

.content {
	margin: auto;
	max-width: 800px;
	padding: 10px;
}
h1, h2, h3, h4, h5  {
	background-color: @color0;
	//	color: @color1;
}


h1 { color: #c792ea; }
h2 { color: #89DDFF; }
h3 { color: #ff5370; }
h4 { color: #bb80b3; }
h5 { color: #ffcb6b; }




div,nav {
	background-color: @color0;
	color: @color1;
	.nav {
		float: left;
	}
	.key {
		color: @color1;
	}
	p {
		background-color: @color0 !important;
		color: @color1 !important;
	}
	pre {
		background-color: @color0 !important;
		code {
			background-color: @color0 !important;
			color: @color1 !important;
			&:hover {
				background-color: @color0 !important;
				color: @color1 !important;
			}
		}
	}
	table {
		border: 1px solid @color2;
		tr {
			border: 1px solid @color2;
			td {
				background-color: @color0;
				border: 1px solid @color2;
				color: @color2;
				text-align: center;
			}
		}
	}
}
.nav {
	ul {
		background-color: @color0;
		list-style-type: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}
	li {
		float: left;
		a {
			color: @color1;
			display: block;
			padding: 14px 16px;
			text-align: center;
			text-decoration: none;
			&:hover {
				background-color: #101218;
			}
			.focused {
				background-color: #040406;
			}

		}
	}
}
html {
	background-color: @color0;
}
ul {
	li {
		padding-top: 10px;
		a {
			color: @color1;
		}
	}
}


a {
	color: @color1;
}


.bind {
	background-color: @color0;
	&:hover {
		background-color: @color0 !important;
		color: @color2;
	}
}
ol {
	li {
		background-color: @color0;
	}
}
section {
	p {
		background-color: @color0;
		color: #1c65ff;
	}
}




.newtab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  //1fr;
  gap: 2px 2px;
  border: 1px solid @color1;
  grid-template-areas:
	". pagehead ."
	"commonLinks xplr suckless "
	"commonLinks xplr suckless "
	"awesomewm fennel info";
}
/*" info info"*/

.pagehead { grid-area: pagehead; }
.commonLinks { grid-area: commonLinks; }
.internal { grid-area: internal;}
.xplr { grid-area: xplr; }
.suckless { grid-area: suckless; }
.awesomewm { grid-area: awesomewm; }
.info { grid-area: info; }
.fennel { grid-area: fennel; }


.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
  gap: 5px 5px solid @color0;
  border: 1px solid @color1;
  grid-template-areas:
	  "home projects links jamjam blogs";
  justify-items: center;
  align-items: center;
}


.home { grid-area: home; }
.projects { grid-area: projects; }
.links { grid-area: links; }
.jamjam { grid-area: jamjam; }
.blogs { grid-area: blogs; }




@media screen and (max-width: 480px) {

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2px 2px solid;
  border: 1px solid @color1;
  grid-template-areas:
	  "home projects links"
	  "jamjam _____ blogs ";
}


	.newtab {
		grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
		grid-template-rows: 0.3fr 1.1fr 1fr 1fr 1fr;
		gap: 2px 2px;
		border: 1px solid @color1;
		grid-template-areas:
			". pagehead pagehead ."
			"commonLinks commonLinks internal internal"
			"xplr xplr suckless suckless"
			"fennel fennel awesomewm awesomewm"
			". info info .";
	}
	h1, h2 {
		text-align: center;
	}
}
