.post {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr auto  0.5fr auto  auto;
  gap: 0px 0px;
  grid-template-areas:
	". title ."
	". summary ."
	". subtitle ."
	". blogContent ."
	". footer .      "
  ;
  justify-content: center;
}
.title { grid-area: title; }
.summary { grid-area: summary; }
.subtitle { grid-area: subtitle; }
.blogContent { grid-area: blogContent; }
.footer { grid-area: footer;}
